  <div class="comment">
            <p class="comment-text">
              {{commentContent}}
            </p>
            <p class="date-time">
              {{commentDate}}
            </p>
          </div>