<!DOCTYPE html>

<html>
    <head>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link href="mainPage.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Muli|Patua+One&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/bfb758fba0.js"></script>
        <script src="homePage.js" charset="utf-8" defer></script>
        <script src="news.js" charset="utf-8" defer></script>
       
        <meta charset="utf-8">
        <title>The Forum</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js"></script>
        <script src="./topNewsTemplate.js"></script>
        <script src="./postTemplate.js"></script>
    </head>
    <body>
     <div class = "header"> 
        <div class = "header-logo">
          <a href = "/">Discussion Board </a>
        </div>
      </div>

       <main class="content-container">

    <div id="left-sidebar">

      <div class="menu-content">
        <h2 class="menu-header">Menu</h2>

        <a href="/news">News</a>
        <a href="/computer-science">Computer Science</a>
        <a href="/ask-anything">Ask Anything</a>
        <a href="/clubs">Clubs</a>
      </div>

      <div class="button-spacer">
        <button type="button" class="close-menu-button"><i class="fas fa-chevron-left"></i></button>
      </div>
      
    </div>

        {{{body}}}


        </main>
    </body>
</html>
