{{#if fileNotFound}}
  <div id = "error">
    <div id="main_page_content" class="error-container">
      <h2>404</h2>
      <h3>File Not Found</h3>
    </div>
  </div>
{{else}}

<div id="center-content">

    <div id="create-post">
      <div class="post" id="create-post-header">
        <p>
          Create Post
        </p>
      </div>
      <div class="post" id="create-post-input">
        <input type="text" placeholder="Write Something Here" class="post-input" maxlength="100">
        <button type="button" class="accept-button">Post</button>
      </div>
    </div>
  {{#each posts}}
        {{>postTemplate}}
  {{/each}}

</div>
<div id="right-sidebar">
      <div id="top_news">
        <h2>
          Top Posts
        </h2>

        <ol class="top-posts-list">
          {{#each news}}
            {{>topNewsTemplate}}
          {{/each}}
        </ol>

      </div>
{{/if}}
