* {
  margin: 0px;
  padding: 0px;
}

.header {
  background-color: black;
  color: #fff;
  height: 70px;
  margin: 0;
}

.header-logo {
  font-family: 'Patua One', cursive;
  font-size: 3em;
  padding: 0px 40px;
  /*float: left;*/
}

body {
  line-height: 1.4;
  font-family: 'Muli', sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: rgb(240, 238, 238);
}

#left-sidebar {
  display: flex;
  flex: 3 0 20px;
  max-width: 20%;
  /* height: 400px; */
  /* background-color: green; */
  background-color: inherit;
  /*position: absolute;*/

}

.menu-content{
  flex: 0 1 200px;
}

.button-spacer{

  flex: 0 0 20px;
  background-color: inherit ;


}


#left-sidebar a {
  display: block;
  background-color: inherit;
  font-size: 13px;
  border-bottom: 1px solid white;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  line-height: 1.3;
  color: inherit;
  text-decoration: none;

}

#left-sidebar a:hover {
  background-color: pink;
}

.menu-header {
  background-color: white;
  font-size: 16px;
  padding: 5px 10px;
  margin: 0;
}

#center-content {
  flex: 0 1 700px;
  padding: 10px;
  /*align-self: center;*/
  display: flex;
  flex-direction: column;
}


a:hover {
  color: gray;
}

.content-container {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  display: flex;
  background-color: inherit;
  /*box-sizing: border-box;*/

  justify-content: space-between ;  
}

.main-page {
  width: 100%;
  background-color: inherit;
  padding: 50px;
  box-sizing: border-box;
  margin: 0;
  display: block;
  flex-wrap: wrap;
}

#main_page_content {
  /*padding-top: 20px;*/
  /*width: 700px;*/
  /*top: 100px;
  left: 350px;*/
  /*position: relative;*/
  background-color: inherit;
  padding:20px;
}

#main_page_content a {
  /*padding: 20px;*/
  text-align: center;
  text-decoration: none;
  font-size: 19px;
  color: black;
  font-style: italic;
  
  
}

#main_page_content a:hover {
  color: rgb(24, 177, 238);
}

#main_page_content img {
  margin: auto;
  display: block;
  padding-top:3%;
  
}

/*
#main_page_content p {
  padding: 10px;
  padding-top: 50px;
  padding-left: 25px;
  font-size: 17px;
}*/

#right-sidebar{

  flex: 0 1 20%;
  padding-right: 7%;
  
}

#top_news {

  /*width: 300px;
  position: fixed;
  top: 130px;
  left: 1400px;
  background-color: inherit;*/
}

#top_news a {
  /*padding: 5%;*/
  text-decoration: none;
  color: rgb(27, 25, 25);
  font-size: 15px;
}

#top_news a:hover {
  color: rgb(24, 177, 238);
}

.top-posts-list {

  list-style-position: inside;

}

.top-posts-list li{
  padding:7px;
}

#rules {
  text-align: center;
  /*position: static;*/
  background-color: inherit;
  padding: 30px;
}

body {
  margin: 0;
  padding: 0;
  /*color: gray;*/
  font-family: default;
  background-color: rgb(240, 238, 238);
}

#contents {
  box-sizing: border-box;
  width: 680px;
  background-color: white;
  display: block;
}

#contents h2 {
  background-color: white;
  width: 100%;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  padding: 10px 0px;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0px;
  margin-right: 0px;
  font-weight: bold;
}

div {
  display: block;
}

.post {
  flex: 0 1 28%;
  margin: auto;
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid grey;
  background-color: #fff;
  width: 600px;
  border-radius: 5px;
}

.comment-button {
  display: flex;
  justify-content: flex-end;
  color: rgb(0, 0, 0);
  float: middle;
}

/* to invisible the Write Something Here*/
[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.5s ease;
  opacity: 0
}

#post-container {
  float: static;
  /*position:*/
  width: 800px;
}

/*to create the header "create post"*/
#create-post-header {
  font-size: 15px;
  margin-bottom: 0px;
  border-bottom: hidden;
  background-color: lightgrey;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/*box for create input */
#create-post-input {
  margin-top: 0px;
  border-top: hidden;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

#create-post {
  margin-bottom: 50px;
}

/*button to post */
.accept-button {
  padding: 5px;
  margin-right: 25px;
  background-color: #319df6;
  color: #fff;
  float: right;
}

.post-comment-button {
  padding: 5px;
  margin: auto;
  color: #fff;
  background-color: #319df6;
  float: right;
}

.post-input {
  padding: 5px 10px;
  font-size: 15px;
  width: 500px;
  word-wrap: break-word;
  border-radius: 5px;
}

/********* comment input ************/
.comment-input {
  padding: 5px 10px;
  font-size: 15px;
  width: 500px;
  word-wrap: break-word;
  border-radius: 5px;
}

.comment-text {
  background-color: rgb(240, 238, 238);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  margin-bottom: 7px;
  display: inline-block;
}

.comment-container {
  margin: 15px 0px;
  /*display: none;*/
}

.hidden {
  display: none;
}

.date-time {
  font-size: 12px;
  padding-left: 40px;
  padding-bottom: 10px;
}

ul.visible {
  flex: 0 1 28%;
  margin: 2px;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 2px;
  background-color: #fff;
  margin-left: 250px;
  margin-top: 10px;
  margin-bottom: 0px;
  width: 600px;
  border-radius: 5px;
  margin-top: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top: none;
}

.hide-post-button {
  font-size: 15px;
  float: right;
  border: 0px;
  background-color: transparent;
  margin: 0px;
}

.close-menu-button {
  margin: 8px;
  width: 20px;
  float: right;
  background-color: transparent;
  border: 0px;
}

#reed_content p{

  font-style: italic;
  font-family: ARVO;
  font-size: 20px;
  padding-top:20px;

}

#reed_content h4{

  padding:20px;
  padding-top: 30px;

}

#reed_content li{


  padding:10px;

}
